/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-listings {
	border: 2px dotted #f00;
	padding: 0.5em;
}
.row{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
