/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-listings {
	background-color: #332500;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	color: #000000;
	padding: 0.5em;
	min-height: 2em;
}
.row{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.col{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}